/** {outline : 1px solid purple; }*/

body {
  background: rgb(4, 115, 4);
  text-align: center;
}

/* #477148 */

h1 {
  font-size: 40px;
  font-weight: bold;
  color: gold;
}
ul {
  margin: 5px auto;
  text-align: center;
  list-style: none;
}

li {
  display: inline-block;
  border: 2px solid black;
}

.card, .shoeCards {
  height: 8.85em;
  width: 6.4em;
  background: #fff url('../images/card-set.png') no-repeat;
  background-size: 1300% 400%;
  border: 1px solid #695d39;
  border-radius: 0.5em;
  font-family: 'Times', serif;
  text-align: left;
  line-height: 1em;
  padding-top: .25em;
  padding-left: .1em;
  letter-spacing: -.2em;
}

.shoeCards {
  position: absolute;
  top: 0;
  left: 0;
}

.status {
  margin: 0 auto;
  width: 600px;
  font-size: 1.15em;
  font-weight: bold;
}

.selection, #deal {
  padding: 2px;
  margin: 2px;
  cursor: default;
  width: 75px;
  font-weight: bold;
}

#newGame {
  padding: 2px;
  margin: 2px;
  cursor: default;
  font-size: 1.5em;
}

#bet {
  width: 50px;
}

#betLi {
  border: none;
}

main {
  min-height: 320px;
}

.playerCards, .playerCardsSplit {
  display: inline-block;
}

.playerCards, .playerCardsSplit, .dealerCards {
  margin: 5px auto;
  min-width: 600px;
  min-height: 148px;
}

#shoe {
  height: 0px;
  width: 500px;
  position: absolute;
  left: 150;
  top: 0;
}

/* SUITS */
.c { background-position-y: 0;       color: #000; }
.d { background-position-y: -9.1em; color: #890000; }
.s { background-position-y: -18.2em; color: #000; }
.h { background-position-y: -27.3em;    color: #890000; }

/* RANKS */
.rankA  { background-position-x: 0; }
.rank2  { background-position-x: -6.5em; }
.rank3  { background-position-x: -13em; }
.rank4  { background-position-x: -19.5em; }
.rank5  { background-position-x: -26em; }
.rank6  { background-position-x: -32.5em; }
.rank7  { background-position-x: -39em; }
.rank8  { background-position-x: -45.5em; }
.rank9  { background-position-x: -52em; }
.rank10 { background-position-x: -58.5em;}
.rankJ  { background-position-x: -65em; }
.rankQ  { background-position-x: -71.5em; }
.rankK  { background-position-x: -78em; }

/* Hidden cards */
.holeCard, .shoeCards {
  background: url('https://s-media-cache-ak0.pinimg.com/236x/a4/77/8a/a4778a31909f959501cc180b8874d164.jpg') no-repeat;
  background-size: cover;
  color: transparent;
}
