body {
  text-align: center;
  background-color: grey;
  font-size: 16px;
}

.megatron {
  position: relative;
  margin: 0 auto;
  background: url('../images/table.png') no-repeat;
  background-size: contain;
  text-align: center;
  background-color: grey;
  width: 1200px;
  height: 650px;
}

ul {
  margin: 5px auto;
  text-align: center;
  list-style: none;
}

li {
  display: inline-block;
  border: 2px solid black;
}

.card, .shoeCards {
  height: 8.85em;
  width: 6.4em;
  background: #fff url('../images/card-set.png') no-repeat;
  background-size: 1300% 400%;
  border: 1px solid #695d39;
  border-radius: 0.5em;
  font-family: 'Times', serif;
  text-align: left;
  line-height: 1em;
  padding-top: .25em;
  padding-left: .1em;
  letter-spacing: -.2em;
  /*font-size: 0.8em;*/
}

.status {
  padding: 2px;
  margin: -25px auto 0;
  width: 470px;
  font-size: 1.1em;
  font-weight: bold;
  color: rgba(255, 175, 1, 0.81);
  background: #095807;
  border: 2px solid white;
  border-radius: 5px;
}

.selection, #deal {
  padding: 2px;
  margin: 2px;
  cursor: default;
  width: 75px;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 5px;
}

#newGame {
  padding: 4px;
  margin-top: 40px;
  cursor: default;
  font-size: 1.25em;
  color: rgba(255, 175, 1, 0.81);
  border: 2px white solid;
  border-radius: 5px;
  font-weight: bold;
}

#bet {
  width: 50px;
  border-radius: 5px;
  font-weight: bold;
}

#betLi {
  border: none;
}

main {
  height: 375px;
}

.playerCards, .playerCardsSplit {
  display: inline-block;
}

.playerCards, .playerCardsSplit, .dealerCards {
  margin: 25px auto;
  width: 590px;
  height: 148px;
}

#shoe {
  height: 0px;
  width: 500px;
  position: absolute;
  left: 0;
  top: 0;
}

#counter {
  height: 0px;
  width: 500px;
  position: absolute;
  right: 0;
  top: 0;
}

#counter li {
  position: absolute;
  top: 40px;
  right: 95px;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  font-size: 16px;
  font-weight: bold;
  background: grey;
  cursor: default;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.choice {
  color: white;
  margin-bottom: 0;
  padding-bottom: 0;
}

.bottomButtons {
  bottom: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;

}

.betting {
  color: white;
  display: inline-block;
  margin-top: 3px;
  font-weight: bold;
}

.balance {
  display: inline-block;
  color: white;
  margin-top: 3px;
  font-weight: bold;
}

/* SUITS */
.c { background-position-y: 0;       color: #000; }
.d { background-position-y: -9.1em; color: #890000; }
.s { background-position-y: -18.2em; color: #000; }
.h { background-position-y: -27.3em;    color: #890000; }

/* RANKS */
.rankA  { background-position-x: 0; }
.rank2  { background-position-x: -6.5em; }
.rank3  { background-position-x: -13em; }
.rank4  { background-position-x: -19.5em; }
.rank5  { background-position-x: -26em; }
.rank6  { background-position-x: -32.5em; }
.rank7  { background-position-x: -39em; }
.rank8  { background-position-x: -45.5em; }
.rank9  { background-position-x: -52em; }
.rank10 { background-position-x: -58.5em;}
.rankJ  { background-position-x: -65em; }
.rankQ  { background-position-x: -71.5em; }
.rankK  { background-position-x: -78em; }

/* Hidden cards */
.holeCard, .shoeCards {
  background: url('https://s-media-cache-ak0.pinimg.com/236x/a4/77/8a/a4778a31909f959501cc180b8874d164.jpg') no-repeat;
  background-size: cover;
  color: transparent;
}
